.walletForm {
  background: var(--paler-pink);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.form {
  display: flex;
  width: 52.6rem;
  height: 22rem;
  gap: 1rem;
  color: var(--main-purple);
  font-size: 1.8rem;
}

.left {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 3.2rem;
}

.right {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 3.2rem;
}

.input {
  width: 25.5rem;
  height: 3rem;
  border-radius: 4px;
  border: solid var(--main-purple) 1px;
  color: var(--main-purple);
  padding: 0 0.5rem;
}
.input::placeholder {
  color: var(--disabled-button);
}

.text {
  padding: 0 1rem;
}

.button {
  width: 25.5rem;
  height: 3rem;
  margin-top: 2.2rem;
  background: var(--main-purple);
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}