.header {
  display: flex;
  justify-content: space-between;
  padding: 3rem 10rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--main-pink);
}

.total {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--main-purple);
}